html,body{
margin:0;
height: 100%;
  
}
body{
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.sidebar{
    display: flex;
   flex-direction: column;
   width: 20vw;
   height: 100vh;
    background-color: rgb(27, 27, 73);
}

.sidebar div:nth-child(n+1) {
    color: gray;
    padding: 1.3vw 1vw 1.3vw 2vw;
}
.sidebar div:nth-child(n+2){
    display: flex;
    gap: 1vw;
    font-size: 1.5vw;
    padding-left: 2.2vw;
}
.sidebar div:first-child{
    color: white;
    font-weight: bold;
    font-size: 2.8vw;}
i{height: 1cap; padding-top: 0.1vh;}

.sidebar div:nth-child(n+2):hover{
    color: white;
    background-color: #1B203D;
  }

  .dashboard{
    display: flex;
    flex-direction: column;
    width: 78vw;
    padding: 1.3vw 1vw 1.3vw 1vw;
    background-color: #1B203D;
    
}


.prof{
display: flex;
color: white;
justify-content: space-between;
padding-left: 2vw;
}
.prof div:nth-child(1){
    font-size: 2.5vw;
    display: flex;
    gap: 1vw;}

.prof div:last-child {
        display: flex;
        align-items: center;
}


.list{
    flex-basis: 220px;
    font-size: 35px;
    display: flex;
    flex-direction: row;
    height:100px ;
   
    font-size: 24px;
  
}
.list>div{
  display: flex;
  flex-direction:column;
  gap: 20px;
}

.main{
    display: flex;
    flex-direction: column;
    gap:400px; 
}
.con3{
    display: flex;
    gap: 10px;
}
.table{
    gap: 3px;;
    padding:0;
   font-size: 16px;
    width:100%;
    margin-bottom: 0;
}
table{
    text-align: center;
    border-collapse: collapse;
    width: 600px; 
    height: 200px;
    padding: 0%;

}
tr{border-bottom: 1px solid #ddd;}

th, td {
    text-align: left;}

    .tab{
        background-color: rgb(58, 58, 106);
        height: 250px;
       padding: 0%;
       font-size: 16px;}
    
      .col{
        display: flex;
        gap: 100px;
        padding: 1%;
        background-color: rgb(58, 58, 106);
       
      }
    .img{
        display: flex;
        flex-direction:column;
        width: 230px;
        height: 288px;
        background-color: rgb(58, 58, 106);
       padding: 1px;
       font-size: 16px;
    }
    #img1 {
        clip-path: circle(50%);
      }
      .prof{
        justify-content: flex-start; 
        align-items: center;
        gap: 10px; 
      }