.item1,.item3,.item4,.item5,.item6,.item7,.item8,.item2,.item11,.item2{
    background-color: rgb(224, 216, 216);
    border:1 solid black none;
    width: 250px;
    height:200px;
}
.item2{
    background-color: rgb(224, 216, 216);
    border:1 solid black none;
    width: 250px;
    height:200px;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows: auto auto;
    gap: 5px 1px;
}

.grid{
    display: grid;
    width:1000px;
    height:600px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows:auto auto auto ;
    gap: 10px;
   
}

.item2>div{
    background-color: rgb(111, 108, 108);
    border: 1px solid black none;
    width: 85px;
    height: 55px;
    padding: 10px;
    margin: 10px;
    justify-content: center;

}
.item6{
    display: grid;
    grid-template-rows:auto auto;
    gap: 5px;
}

.item6>div{
    background-color: rgb(111, 108, 108);
    margin: 10px;
}
.item7>div{
    background-color: rgb(111, 108, 108);
    margin: 10px;
}

.item7{
    display: grid;
    grid-template-columns:auto auto;
    gap:5px;
}

